
body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 242, 245);
    font-size: 14px;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 100vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook img {
    width: 290px;
    position: absolute;
    top: 200px;
}

.facebook p {
    font-size: 2em;
    margin-left: 30px;
    width: 450px;
}

.contact fieldset {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    padding: 20px 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input{
    padding: 14px 16px;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid rgb(221, 223, 226);
    margin-bottom: 10px;
}

.button {
    padding: 15px;
    width: 330px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin: 10px 0;
}

.button-login {
    background-color: rgb(24, 119, 242);
    font-size: 20px;
}

.button-new-acc {
    background-color: rgb(66, 183, 42);
    font-size: 17px;
    width: 200px;
}


.forgotten-password {
    color: rgb(24, 119, 242);
    font-size: 14px;
    font-weight: bold;
}

footer {
    background-color: white;
    position: absolute;
    word-spacing: 15px;
    font-size: 12px;
    font-weight: 350;
    font-family: sans-serif;
    width: 100%;
}


span {
    word-spacing: normal;
}

.line1 {
    width: 100%;
    height: 1px;
    background-color: rgb(226, 226, 226);
    margin: 10px 0px;
}
.line2 {
    margin-left: 80px;
    margin-right: 80px;
    width: 1250px;
    height: 1px;
    background-color: rgb(175, 175, 175);
}

footer p {
    margin: 8px 180px;
    color: rgb(146, 146, 146);
    padding-bottom: 3px;
}